@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/titilliumWeb/TitilliumWeb-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/titilliumWeb/TitilliumWeb-Regular.ttf') format('woff2');
}
